<app-navbar></app-navbar>

<!-- Área onde os componentes serão carregados dinamicamente através das rotas -->
<router-outlet></router-outlet>

<!-- Componente para exibir mensagens toast -->
<p-toast></p-toast>

<!-- Diálogo de confirmação -->
<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" #confirmacao>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirmacao.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirmacao.reject()"></button>
  </p-footer>
</p-confirmDialog>
